.editor-block {
  margin: 20px;
  padding: 5px;
  background: aliceblue;
}

.editor-textfield {
  margin: 10px;
  background: white;
  border: 1px solid lightblue;
}

.editor-textfield p {
  margin: 0;
}
